@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Http.Extensions;
@using WerkelijkWaar.Classes;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    User user = new User();

    bool sessionExists = (!String.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("User")));
    int roleId = -1;

    if (sessionExists)
    {
        user = Newtonsoft.Json.JsonConvert.DeserializeObject<User>(HttpContextAccessor.HttpContext.Session.GetString("User"));
        roleId = user.RoleId;
    }
}

<!DOCTYPE html>
<html id="html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Werkelijk Waar?</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    <header>
        <!-- Top -->
        <div id="topBar" class="layout top-bar">
            @if (sessionExists)
            {
                <input id="hiddenRoleId" type="hidden" value="@user.RoleId" />
                <div class="layout top-bar-container">
                    <div class="layout top-bar-profile">
                        @if (!String.IsNullOrEmpty(user.ImageSource))
                        {
                            <img class="layout top-bar-profile" src="~/content/image/avatars/@user.Id/@user.ImageSource" alt="Profielfoto" title="Profielfoto" />
                        }
                        else
                        {
                            <img class="layout top-bar-profile" src="~/content/image/Person_disabled.png" alt="Profielfoto niet gevonden" title="Profielfoto niet gevonden" />
                        }
                        <div>
                            <p class="layout top-bar-profile" style="margin-top: 25px;">Welkom, @user.Name!</p>
                            <form style="margin-top: -10px;">
                                <input asp-controller="Account" asp-action="AccountView" class="layout top-bar-profile" type="submit" value="Account" />
                            </form>
                        </div>
                    </div>
                    <div style="margin-left: -200px; margin-top: 20px;">
                        @if (!ViewData["Title"].ToString().Contains("Scores van"))
                        {
                            <h2 class="subtitle" style="color: white;">@ViewData["Title"]</h2>
                        }
                    </div>
                    <div class="layout top-bar-logout">
                        <p class="layout top-bar-logout">Uitloggen</p>
                        <a asp-controller="Account" asp-action="Logout">
                            <img class="layout top-bar-logout" src="~/content/image/Logout.png" alt="Logout" title="Logout" />
                        </a>
                    </div>
                </div>
            }
        </div>
        <!-- Side -->
        <div id="sideBar" class="layout side-bar">
            @if (sessionExists)
            {
                <p class="layout side-bar-actions">Acties</p>

                @if (roleId != 2 && roleId != 3)
                {
                    <a asp-controller="Hub" asp-action="Game">
                        <img id="side-all-game" class="layout side-bar-item" src="~/content/image/Play.png" alt="Game" title="Game" />
                    </a>
                }

                @if (roleId == 0)
                {
                    <a asp-controller="Overview" asp-action="ScoreOverview">
                        <img id="side-0-scoreOverview" class="layout side-bar-item" src="~/content/image/Trophy.png" alt="Score" title="Score" />
                    </a>
                }

                @if (roleId == 1)
                {
                    <a asp-controller="Hub" asp-action="GameConfig">
                        <img id="side-1-gameConfig" class="layout side-bar-item" src="~/content/image/Gear.png" alt="Configuration" title="Configuration" />
                    </a>

                    <a asp-controller="Overview" asp-action="ClassOverview">
                        <img id="side-1-classOverview" class="layout side-bar-item" src="~/content/image/People.png" alt="Overview" title="Overview" />
                    </a>
                }

                @if (roleId == 2 || roleId == 3)
                {
                    <a asp-controller="Hub" asp-action="Log">
                        <img id="side-23-log" class="layout side-bar-item" src="~/content/image/File.png" alt="Log" title="Log" />
                    </a>

                    <a asp-controller="Overview" asp-action="UserOverview">
                        <img id="side-23-users" class="layout side-bar-item" src="~/content/image/People.png" alt="Users" title="Users" />
                    </a>

                    @if (roleId == 2)
                    {
                        <a asp-controller="Overview" asp-action="StoryOverview">
                            <img id="side-2-stories" class="layout side-bar-item" src="~/content/image/Book.png" alt="Stories" title="Stories" />
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Hub" asp-action="ServerConfig">
                            <img id="side-3-config" class="layout side-bar-item" src="~/content/image/Gear.png" alt="Configuration" title="Configuration" />
                        </a>
                    }
                }
            }
        </div>
    </header>

    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sideBar.js" language="javascript" type="text/javascript"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>