@model GameModel;

<head>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/game.js"></script>
</head>

<div>
    <div id="lobbyContainer">
        @if (Model != null)
        {
            <p>Jouw ID is: @Model.CurrentUserId.</p>
            <p>Jouw gamecode is: @Model.GameCode.</p>

            <p>SignalR test!</p>
            <div>
                Bericht: <input type="text" id="messageInput" />
                <input type="hidden" id="userInput" value="@Model.CurrentUserId" />
                <input type="hidden" id="typeInput" value="0" />
                <input type="button" id="sendButton" value="Versturen" />
            </div>
            <div>
                Binnengekomen berichten:
                <ul id="messageList"></ul>
            </div>
        }
        else
        {
            <p>Connection test!</p>
            <p>Vul code in:</p>
            <input type="text" id="codeInput" />
            <input type="button" id="joinButton" />
            <p id="pStatus"></p>
        }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    // Game stuff
    $(document).ready(function () {
        currentGameCode = @Model.GameCode;

        // Lobby verbinden
        $("#joinLobby").click(function () {
            if (currentUserRole = 0) {
                if ($('codeInput').val != null) {
                    sendMessage(@Model.CurrentUserId, "conn", $('codeInput').val, 0);
                }
                else {
                    $('pStatus').text = "Er is iets fout gegaan.";
                }

                $.ajax({
                    type: 'POST',
                    url: "/Game/JoinLobby/",
                    data: { code = $('#codeInput').val },
                    dataType: 'html',
                    success: function (result) {
                        $('#lobbyContainer').html(result);
                        $('#toHide').hide();
                    }
                });
            };
        });
    });
    </script>
}