@{
    ViewData["Title"] = "Inzagescherm";
    Layout = "_LayoutSide";
}
@model WerkelijkWaar.Models.HubModel

<body>
    <div style="margin-top: 10px;">
        <h2 class="subtitle">Klasgemiddelde: @Model.AverageScore.ToString("N1")</h2>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="display: flex; flex-direction: column;">
                <div>
                    <h2 class="subtitle">Top vijf van vandaag (@DateTime.Now.Day-@DateTime.Now.Month)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            int rank = 0;
                            foreach (WerkelijkWaar.Classes.User user in Model.UserList)
                            {
                                if (rank < 5)
                                {
                                    rank++;
                                    if (!String.IsNullOrEmpty(user.ImageSource))
                                    {
                                        <li>
                                            @rank: <img src="~/content/image/avatars/@user.Id/@user.ImageSource" style="height: 33px; width: 33px;" /> @user.Name @user.Surname - @user.AverageScore.ToString("N1")
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @rank: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> @user.Name @user.Surname - @user.AverageScore.ToString("N1")
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
                <div>
                    <h2 class="subtitle">Top vijf van deze maand (@DateTime.Now.ToString("MMMM"))</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            int rank = 0;
                            foreach (WerkelijkWaar.Classes.User user in Model.UserList)
                            {
                                if (rank < 5)
                                {
                                    rank++;
                                    if (!String.IsNullOrEmpty(user.ImageSource))
                                    {
                                        <li>
                                            @rank: <img src="~/content/image/avatars/@user.Id/@user.ImageSource" style="height: 33px; width: 33px;" /> @user.Name @user.Surname - @user.AverageScore.ToString("N1")
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @rank: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> @user.Name @user.Surname - @user.AverageScore.ToString("N1")
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="subtitle">Top allertijden</h2>
                <ul style="border: 1px solid black; list-style-type: none;">
                    @if (Model.UserList != null && Model.UserList.Count != 0)
                    {
                        int rank = 0;
                        foreach (WerkelijkWaar.Classes.User user in Model.UserList)
                        {
                            if (rank < 5)
                            {
                                rank++;
                                if (!String.IsNullOrEmpty(user.ImageSource))
                                {
                                    <li>
                                        @rank: <img src="~/content/image/avatars/@user.Id/@user.ImageSource" style="height: 33px; width: 33px;" /> <a asp-controller="Overview" asp-action="ScoreOverview" asp-route-userId="@user.Id" asp-route-rank="@rank">@user.Name @user.Surname</a> - @user.AverageScore.ToString("N1")
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @rank: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> <a asp-controller="Overview" asp-action="ScoreOverview" asp-route-userId="@user.Id" asp-route-rank="@rank">@user.Name @user.Surname</a> - @user.AverageScore.ToString("N1")
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</body>