@{
    ViewData["Title"] = "Inzagescherm";
    Layout = "_LayoutSide";
}
@model WerkelijkWaar.Models.HubModel

<body>
    <div style="margin-top: 10px;">
        <h2 class="subtitle">Klasgemiddelde: @Model.AverageScore.ToString("N1")</h2>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="display: flex; flex-direction: column;">
                <div>
                    <h2 class="subtitle">Top vijf van vandaag (@DateTime.Now.Day-@DateTime.Now.Month)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            int i = 0;
                            foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                            {
                                if (i < 5)
                                {
                                    i++;
                                    if (!String.IsNullOrEmpty(u.ImageSource))
                                    {
                                        <li>
                                            @i: <img src="~/content/image/avatars/@u.Id/@u.ImageSource" style="height: 33px; width: 33px;" /> @u.Name @u.Surname - @u.AverageScore.ToString("N1")
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @i: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> @u.Name @u.Surname - @u.AverageScore.ToString("N1")
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
                <div>
                    <h2 class="subtitle">Top vijf van deze maand (@DateTime.Now.ToString("MMMM"))</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            int i = 0;
                            foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                            {
                                if (i < 5)
                                {
                                    i++;
                                    if (!String.IsNullOrEmpty(u.ImageSource))
                                    {
                                        <li>
                                            @i: <img src="~/content/image/avatars/@u.Id/@u.ImageSource" style="height: 33px; width: 33px;" /> @u.Name @u.Surname - @u.AverageScore.ToString("N1")
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            @i: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> @u.Name @u.Surname - @u.AverageScore.ToString("N1")
                                        </li>
                                    }
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="subtitle">Top allertijden</h2>
                <ul style="border: 1px solid black; list-style-type: none;">
                    @if (Model.UserList != null && Model.UserList.Count != 0)
                    {
                        int i = 0;
                        foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                        {
                            if (i < 5)
                            {
                                i++;
                                if (!String.IsNullOrEmpty(u.ImageSource))
                                {
                                    <li>
                                        @i: <img src="~/content/image/avatars/@u.Id/@u.ImageSource" style="height: 33px; width: 33px;" /> <a asp-controller="Overview" asp-action="ScoreOverview" asp-route-id="@u.Id" asp-route-rank="@i">@u.Name @u.Surname</a> - @u.AverageScore.ToString("N1")
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        @i: <img src="~/content/image/Person.png" style="height: 33px; width: 33px;" /> <a asp-controller="Overview" asp-action="ScoreOverview" asp-route-id="@u.Id" asp-route-rank="@i">@u.Name @u.Surname</a> - @u.AverageScore.ToString("N1")
                                    </li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</body>