@{
    ViewData["Title"] = "Nieuwe score";
}
@model WerkelijkWaar.Models.IndividualModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Overview" asp-action="ScoreOverview"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div>
        <div class="flex-center">
            <div>
                <h1>Score voor @Model.User.Name  @Model.User.Surname</h1>
                <hr />
                <div>
                    <div>
                        <form asp-action="PushScore" asp-controller="Overview">
                            <!-- misc for nav -->
                            <input asp-for="@Model.User.Id" type="hidden" value="@Model.User.Id" />
                            <input asp-for="@Model.Rank" type="hidden" value="@Model.Rank" />
                            <!-- actual data -->
                            <input asp-for="@Model.Score.OwnerId" type="hidden" value="@Model.User.Id" />
                            <input asp-for="@Model.Score.FollowerAmount" type="hidden" value="-1" />
                            <input asp-for="@Model.Score.CashAmount" type="hidden" value="-1" />
                            <input asp-for="@Model.Score.AttainedVotes" type="hidden" value="-1" />
                            <p>Speltype: <select asp-for="GameTypeIndex" asp-items="@Model.GameType"></select></p>
                            <p>Antwoorden: <input id="answers" asp-for="@Model.Score.Answers" type="text" class="center" /></p>
                            <p>Datum: <input id="date" asp-for="@Model.Score.Date" type="date" class="center" /></p>
                            <input id="submitButton" class="center" type="submit" value="Opslaan" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <script>
        $(document).ready(function () {
            checkFields();
            function checkFields() {
                if ($('#answers').val() && $('#date').val()) {
                    $('#submitButton').removeClass('disabled');
                    $('#submitButton').removeAttr('disabled');
                }
                else {
                    $('#submitButton').addClass('disabled');
                    $('#submitButton').prop("disabled", true);
                }
                setTimeout(checkFields, 500);
            }
        });
    </script>
}