@{
    ViewData["Title"] = "Sessie op " + Model.User.Name;
    Layout = "_LayoutSide";
}
@model IndividualModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Overview" asp-action="ScoreOverview" asp-route-id="@Model.User.Id"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div style="margin-top: 10px;">
        <div style="background-color: #f7c747; display: flex; flex-direction: column;">
            <div style="padding: 10px;">
                <p>Sessie van @Model.Score.Date</p>
            </div>
            <div style="display: flex; flex-direction: row; padding: 10px;">
                <div style="display: flex; flex-direction: column; padding-right: 100px;">
                    <p>Volgers:</p>
                    <p>Euro's:</p>
                    <p>Antwoorden:</p>
                </div>
                <div>
                    <p>@Model.Score.FollowerAmount</p>
                    <p>@Model.Score.CashAmount</p>
                    <textarea name="answers">@Model.Score.Answers</textarea>
                </div>
            </div>
        </div>
    </div>
</body>