@{
    ViewData["Title"] = "Gebruiker " + Model.User.Name + " " + Model.User.Surname;
    Layout = "_LayoutSide";
}
@model AdminModel

<body>
    <div style="margin-top: 10px;">
        <div style="background-color: #f7c747; display: flex; flex-direction: column;">
            <form asp-controller="Account" asp-action="EditUser">
                <div style="display: flex;">
                    <a asp-controller="Overview" asp-action="UserOverview" style="margin-left: 500px;"><input class="form-button" type="button" value="Terugkeren" style="margin-right: 0; width: 200px;" /></a>
                    <a asp-controller="Account" asp-action="DeleteAccount" asp-route-id="@Model.User.Id"><input class="form-button" type="button" value="Verwijderen" style="background-color: red; padding: 10px; margin-right: 0; width: 200px;" /></a>
                    <input class="form-button" type="submit" value="Opslaan" style="margin-right: 0; width: 200px;" />
                </div>
                <div style="display: flex; flex-direction: row; padding: 10px;">
                    @if (!String.IsNullOrEmpty(Model.StatusString))
                    {
                        <p class="before-input" style="color: red;">@Model.StatusString</p>
                    }
                    <div style="display: flex; flex-direction: column; padding-right: 100px;">
                        <p>Voornaam:</p>
                        <p style="padding-top: 10px;">Achternaam:</p>
                        <p style="padding-top: 10px;">Gebruikersnaam:</p>
                        <p style="padding-top: 10px;">Rol:</p>
                        @*<p style="padding-top: 10px;">School:</p>
                        <p style="padding-top: 10px;">Groep:</p>*@
                        <p style="padding-top: 20px;">Avatar:</p>
                    </div>
                    <div>
                        <input asp-for="User.Id" type="hidden" value="@Model.User.Id" />
                        <input asp-for="User.Name" value="@Model.User.Name" type="text" class="text-input" style="width: 75px; margin-left: 0px;" />
                        <input asp-for="User.Surname" value="@Model.User.Surname" type="text" class="text-input" style="width: 75px; margin-left: 0px; margin-top:17px;" />
                        <input asp-for="User.Username" value="@Model.User.Username" type="text" class="text-input" style="width: 75px; margin-left: 0px; margin-top:17px;" />
                        @Html.DropDownListFor(model => model.User.RoleId, Model.RoleList, "Kies een rol", new { @class = "dropdown", @style = "margin-top: 17px;" })
                        @*@Html.DropDownListFor(model => model.School.Id, Model.SchoolList, "Kies een school", new { @class = "dropdown", @style = "margin-top: 17px;" })
                        @Html.DropDownListFor(model => model.Group.Id, Model.GroupList, "Kies een klas", new { @class = "dropdown", @style = "margin-top: 17px;" })*@
                        @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                        {
                            <img class="layout top-bar-profile" src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" style="padding-top: 27px;" />
                        }
                        else
                        {
                            <img src="~/content/image/Person_disabled.png" style="width: 100px; height: 100px; border: 2px solid #f5b91a; padding-top: 27px;" />
                        }
                        <input asp-for="UploadedAvatar" class="text-input" style="height: 30px; margin-left: 10px; margin-top: 70px;" type="file" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>