@{
    ViewData["Title"] = "Scores van " + Model.User.Name;
    Layout = "_LayoutSide";

    int storyInt = 0;
    int scoreInt = 0;
}
@model ScoreOverviewModel;

<header>
    <div class="flex-column-top">
        <div>
            @if (Model.Viewer.RoleId == 1)
            {
                <a asp-controller="Overview" asp-action="ClassOverview"><img class="small_icon" src="~/content/image/BackArrow.png" style="margin-bottom: -50px;" title="Ga terug" alt="Ga terug" /></a>
            }
        </div>
    </div>
</header>

<body>
    <div style="margin-top: 10px;">
        <h2 class="subtitle">Gemiddelde: @Model.User.AverageScore.ToString("N1")</h2>
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <!-- Stories -->
            <div>
                <h2 class="subtitle" style="text-align: left;">Verhalen</h2>
                <ul style="border: 1px solid black; list-style-type: none; padding: 0">
                    @if (Model.Stories != null && Model.Stories.Count != 0)
                    {
                        @foreach (WerkelijkWaar.Classes.Story story in Model.Stories)
                        {
                            storyInt++;
                            <li style="padding: 2px;">
                                @storyInt. <a asp-controller="Overview" asp-action="IndividualStories" asp-route-userId="@Model.User.Id" asp-route-rank="0" asp-route-storyId="@story.Id" id="storyButton" value="@story.Id">@story.Title</a> - x%
                            </li>
                        }
                        <li style="padding: 2px;">
                            <input asp-controller="" asp-action="" class="form-button" type="button" value="Meer tonen..." />
                        </li>
                    }
                    else
                    {
                        <li>Geen verhalen beschikbaar.</li>
                    }
                </ul>
            </div>
            <!-- Scores -->
            <div>
                <h2 class="subtitle" style="text-align: left;">Scores</h2>
                <ul style="border: 1px solid black; list-style-type: none; padding: 0;">
                    @if (Model.Scores != null && Model.Scores.Count != 0)
                    {
                        @foreach (WerkelijkWaar.Classes.Score score in Model.Scores)
                        {
                            scoreInt++;
                            <li style="padding: 2px;">
                                @scoreInt. <a asp-controller="Overview" asp-action="IndividualScores" asp-route-userId="@Model.User.Id" asp-route-rank="0" asp-route-scoreId="@score.Id" id="scoreButton" value="@score.Id">Sessie op @score.Date.ToShortDateString()</a> - x%
                            </li>
                        }
                        <li style="padding: 2px;">
                            <input asp-controller="" asp-action="" class="form-button" type="button" value="Meer tonen..." />
                        </li>
                    }
                    else
                    {
                        <li>Geen scores beschikbaar.</li>
                    }
                    @if (Model.Viewer.RoleId == 1)
                    {
                        <li style="padding: 2px;">
                            <a asp-controller="Overview" asp-action="CreateScore" asp-route-userId="@Model.User.Id"><input class="form-button" type="button" value="Score aanmaken" /></a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <h2 class="subtitle" style="color: white; position: absolute; top: 50px; left: 45vw;">@Model.User.Name @Model.User.Surname</h2>
</body>