@{
    ViewData["Title"] = "Verhalenoverzicht";
    Layout = "_LayoutSide";
}
@model AdminModel

<body>
    <div>
        <div class="flex-center">
            <div>
                <hr />
                <div style="display: flex; flex-direction: row; width: 1000px;">
                    @if (Model.StoryList != null && Model.StoryList.Count != 0)
                    {
                        <div>
                            <table>
                                <tr style="background-color: lightgray;">
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Id
                                    </th>
                                    <th style="border: 1px solid black; width: 20vw;">
                                        Titel
                                    </th>
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Status
                                    </th>
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Lezen
                                    </th>
                                </tr>
                                @foreach (WerkelijkWaar.Classes.Story s in Model.StoryList)
                                {
                                    <tr>
                                        <td style="border: 1px solid black;">
                                            @s.Id
                                        </td>
                                        <td style="border: 1px solid black;">
                                            @s.Title
                                        </td>
                                        <td style="border: 1px solid black;">
                                            @if (s.Status == 0)
                                            {
                                                @:Ongelezen
                                            }
                                            else if (s.Status == 1)
                                            {
                                                @:Gelezen
                                            }
                                            else if (s.Status == 2)
                                            {
                                                @:Geaccepteerd
                                            }
                                            else
                                            {
                                                @:Onbekend (@s.Status)
                                            }
                                        </td>
                                        <td style="border: 1px solid black;">
                                            <form asp-controller="Overview" asp-action="IndividualStories" asp-route-id="@Model.User.Id" asp-route-rank="0" asp-route-storyId="@s.Id">
                                                <input class="form-button" type="submit" value="Inzien" style="width: 100%; height: 100%;" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <h2>Geen resultaten gevonden.</h2>
                    }
                </div>
            </div>
        </div>
    </div>
</body>