@{
    ViewData["Title"] = "Gebruikersoverzicht";
}
@model WerkelijkWaar.Models.AdminModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Account" asp-action="Logout"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div>
        <div class="flex-center">
            <div>
                <h1>Gebruikers</h1>
                <div style="display: flex; flex-direction: row; justify-content: space-around;">
                    <div>
                        <a asp-controller="Overview" asp-action="UserOverview">Gebruikeroverzicht</a>
                    </div>
                    <div>
                        <a asp-controller="Overview" asp-action="StoryOverview">Verhalenoverzicht</a>
                    </div>
                    <div>
                        <a asp-controller="Overview" asp-action="ServerConfig">Serverconfiguratie</a>
                    </div>
                </div>
                <hr />
                <div style="display: flex; flex-direction: row; width: 1000px;">
                    @if (Model.UserList != null && Model.UserList.Count != 0)
                    {
                        <div>
                            <table class="overview">
                                <tr>
                                    <th style="width: 50px;">
                                        Id
                                    </th>
                                    <th style="width: 200px;">
                                        Voornaam
                                    </th>
                                    <th style="width: 200px;">
                                        Achternaam
                                    </th>
                                    <th style="width: 200px;">
                                        Gebruikersnaam
                                    </th>
                                    <th style="width: 200px;">
                                        Rol
                                    </th>
                                    <th style="width: 50px;">
                                        Groep
                                    </th>
                                    <th style="width: 200px;">
                                        Inzien
                                    </th>
                                </tr>
                                @foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                                {
                                    <tr>
                                        <td>
                                            @u.Id
                                        </td>
                                        <td>
                                            @u.Name
                                        </td>
                                        <td>
                                            @u.Surname
                                        </td>
                                        <td>
                                            @u.Username
                                        </td>
                                        <td>
                                            @if (u.RoleId == 0)
                                            {
                                                @:Student
                                            }
                                            else if (u.RoleId == 1)
                                            {
                                                @:Docent
                                            }
                                            else if (u.RoleId == 2)
                                            {
                                                @:Admin
                                            }
                                            else
                                            {
                                                @:Onbekend (@u.RoleId)
                                            }
                                        </td>
                                        <td>
                                            @u.Group
                                        </td>
                                        <td>
                                            <form asp-action="IndividualUsers" asp-controller="Overview" asp-route-id="@u.Id">
                                                <input class="table" type="submit" value="Inzien" style="width: 100%; height: 100%;" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <h2>Geen resultaten gevonden.</h2>
                    }
                </div>
            </div>
        </div>
    </div>
</body>