@{
    ViewData["Title"] = "Gebruikersoverzicht";
    Layout = "_LayoutSide";
}
@model AdminModel

<body>
    <div>
        <div class="flex-center">
            <div>
                <hr />
                <div style="display: flex; flex-direction: row; width: 1000px;">
                    @if (Model.UserList != null && Model.UserList.Count != 0)
                    {
                        <div>
                            <table>
                                <tr style="background-color: lightgray;">
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Id
                                    </th>
                                    <th style="border: 1px solid black; width: 20vw;">
                                        Naam
                                    </th>
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Rol
                                    </th>
                                    <th style="border: 1px solid black; width: 10vw;">
                                        Groep
                                    </th>
                                    <th style="border: 1px solid black; width: 20vw;">
                                        Inzien
                                    </th>
                                </tr>
                                @foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                                {
                                    <tr>
                                        <td style="border: 1px solid black;">
                                            @u.Id
                                        </td>
                                        <td style="border: 1px solid black;">
                                            @u.Name @u.Surname - @u.Username
                                        </td>
                                        <td style="border: 1px solid black;">
                                            @if (u.RoleId == 0)
                                            {
                                                @:Student
                                            }
                                            else if (u.RoleId == 1)
                                            {
                                                @:Docent
                                            }
                                            else if (u.RoleId == 2)
                                            {
                                                @:Admin
                                            }
                                            else if (u.RoleId == 3)
                                            {
                                                @:Überadmin
                                            }
                                            else
                                            {
                                                @:Onbekend (@u.RoleId)
                                            }
                                        </td>
                                        <td style="border: 1px solid black;">
                                            @u.Group
                                        </td>
                                        <td style="border: 1px solid black;">
                                            <form asp-action="IndividualUsers" asp-controller="Overview" asp-route-userId="@u.Id">
                                                <input class="form-button" type="submit" value="Inzien" style="width: 100%; height: 100%;" />
                                            </form>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    }
                    else
                    {
                        <h2>Geen resultaten gevonden.</h2>
                    }
                </div>
            </div>
        </div>
    </div>
</body>