@{
    ViewData["Title"] = "Accountoverzicht";
}
@model WerkelijkWaar.Models.AccountViewModel

<header>
    <div class="flex-column-top">
        <div>
            <a asp-controller="Home" asp-action="Index"><img class="small_icon" src="~/content/image/BackArrow.png" title="Ga terug" alt="Ga terug" /></a>
        </div>
    </div>
</header>

<body>
    <div>
        <div class="flex-center">
            <div>
                <h1>Welkom @Model.User.Name @Model.User.Surname!</h1>
                <hr />
                <div>
                    @if (!String.IsNullOrEmpty(Model.User.ImageSource))
                    {
                        <img src="~/content/image/avatars/@Model.User.Id/@Model.User.ImageSource" class="small-icon.center" alt="Foto van @Model.User.Name" title="Foto van @Model.User.Name" />
                    }
                    else
                    {
                        <img src="~/content/image/MissingAvatar.png" class="small-icon.center" alt="Geen foto" title="Geen foto" />
                    }
                </div>
                <div>
                    <p class="center">Voornaam: @Model.User.Name</p>
                    <p class="center">Achternaam: @Model.User.Surname</p>
                    <p class="center">Gebruikersnaam: @Model.User.Username</p>
                    <p class="center">Groep: @Model.User.Group</p>
                </div>
                <hr />
                <div>
                    <form asp-action="EditAccount" asp-controller="Account">
                        <input type="submit" value="Accountinformatie bewerken" style="width: 300px;" class="center" />
                    </form>
                </div>
                <hr />
                <div>
                    <form asp-action="DeleteAccount" asp-controller="Account" asp-route-id="@Model.User.Id">
                        <input type="submit" value="Verwijder account" style="width: 300px;" class="center" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>