@{
    ViewData["Title"] = "Inzagescherm";
    Layout = "_LayoutSide";
}
@model WerkelijkWaar.Models.HubModel

<body>
    <div style="margin-top: 10px;">
        <div style="display: flex; flex-direction: row; justify-content: space-around;">
            <div style="display: flex; flex-direction: column;">
                <div>
                    <h2 class="subtitle">Top vijf van vandaag (x-x)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                            {
                                <li>
                                    @u.Name @u.Surname - @u.AverageScore
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div>
                    <h2 class="subtitle">Top vijf van deze maand (x)</h2>
                    <ul style="border: 1px solid black; list-style-type: none;">
                        @if (Model.UserList != null && Model.UserList.Count != 0)
                        {
                            foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                            {
                                <li>
                                    @u.Name @u.Surname - @u.AverageScore
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div>
                <h2 class="subtitle">Top allertijden</h2>
                <ul style="border: 1px solid black; list-style-type: none;">
                    @if (Model.UserList != null && Model.UserList.Count != 0)
                    {
                        foreach (WerkelijkWaar.Classes.User u in Model.UserList)
                        {
                            <li>
                                <a asp-controller="Overview" asp-action="IndividualScores" asp-route-id="@u.Id" asp-route-rank="0" asp-route-scoreId="0">@u.Name @u.Surname - @u.AverageScore</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</body>